
<!-- <div *ngFor="let video of videoList">
    <div class="row">
    
        <iframe width="320" height="215" [src]="video.video | safe" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      
    </div>
</div> -->
<div *ngIf="videoList">


<div id="badge" *ngFor="let video of videoList; let i = index">

    <div id="badge">
       
        <header>
            <iframe width="280" height="175" [src]="video.video | safe" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

        </header>

        <section class="all">

            <div class="info">
                <div class="total">
                2Comments
                </div>
                <button (click)="toggleHidden($event,i)">Comentario</button>
                <input class="comment-input" type="text" [(ngModel)]="video.comment" name="video-comment">
                <button (click)="saveComment(video._id, video.comment, i)">OK</button>
                <div style="clear: both;"></div>
            </div>

            <div class="list">
                <div class="mask"></div>
                <section>
                    <div class="comments">
                        <ul *ngFor="let comment of video.commment"> 
                        <p>{{comment.author.name}}:{{comment.comment}}</p>
                        </ul>
                    </div>

                </section>
            </div>

        </section>

    </div>
</div>
</div>