@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    background:#525667;
    font-family:'Open Sans';
}
.home{
  margin:65px 10px;

}
.side-2 i{
text-align: center;
}
.videolist{
  margin: 40px auto;
}
.photoCarrusel{
height: 400px;
object-fit: cover;
}
.photoCarrusel img{
  object-fit: cover;
}
.badge {
    width: 100%;
    background-size: 100% 0px;
    background-position: top;
    background-repeat: no-repeat;
    margin:1px auto 20px;
    box-shadow: 0px 1px 3px black, inset 0px 0px 2px white;
    border-radius: 4px;
    background-color: white;
    margin-top: 15px;
}
.badge .video{
  width: 100%;
  
}
header {
    height:175px;
    padding:0;
    border-bottom:1px solid silver;
}
.comment-input {
    display: none
}
.active {
    display: initial;
}
section.all {
    padding:5px 10px;
}
.info {
    padding: 0 7px 4px;
    border-bottom:1px solid #f1f1f1;
}
.total {
    font-size:14px;
    float:left;
}
.total span {
    font-size:32px;
    font-weight:bold;
}
button {
    float: right;
    background: #de8b87;
    border: none;
    padding: 3px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin: 2px;
}
button:hover {
    background:#f7655d;
}

.list ul{
  text-align: left;
  padding-left:0px; 
  
}
.list ul p{
  word-wrap:break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.list {
  height: 115px;
    padding:0 10px;
    overflow:auto;
     
}
.list section.first {
    margin-top: -20px;
}
.list section {
  margin-bottom: 2px;
}
.carousel-item img {
  height: 400px;
}
.comments h3 {
    font-size:18px;
    margin-bottom:-10px;
    margin-top:30px;
}
.comments p {
    font-size:14px;
}
a {
    text-decoration:none;
    color:#666;
    transition:0.3s color;
}
a:hover {
    color:#1bd5a7;
}
.fechas{
  background-color:  rgb(233, 227, 227);
  padding-top: 10px;
  padding-bottom: 10px;
}
.fechas h3{
    font-size: 30px; 
}
.side-2 h5{
    font-size: 15px; 
}
.iconofecha{
  text-align: center;
}

/*****footer***/
a:hover{
    text-decoration:none;
}

.email {
    background: url("https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
    min-height: 200px;
    padding: 70px 0px;
    width:100%;
}

.email h2, .email p {
    color: #FFF;
    font-weight: 600;
}

#email-adresi {
    margin-top: 20px;
    border: none;
    width:50%;
    height:40px;
    padding-left:10px;
}

.footer {
    padding-top:30px;
    padding-bottom: 30px;
	color: #ccc;
    background-color: #222;
}

.footer h3 {
	color: #FFF;
	font-size:15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom:20px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 10px 0px;
    display: block;
    color: #ccc;
    font-weight: 600;
    font-size: 13px;
}

.footer ul li a:hover{
	color:#1e76a8;
}

.footer-bottom{
	background-color: #111;
    color: #282c2d;
    font-size: 12px;
	text-align: center;
	height: 50px;
    line-height: 50px;
}

.footer-bottom p{
	font-size:13px;
	color: #FFF;
}

.footer-top{
	background-color: #f7f7f7;
    text-align: center;
}

.footer-top .social-icons{
   padding:50px 0px;
}

.footer-top .social-icons i{
	padding:0px 20px;
	font-size:20px;
	color: #aaa;
}

.footer-top .social-icons i:hover{
	color:#1e76a8;
}

.logo{
   color:#FFF;
   font-size:30px;
   font-weight:600;
}


/******CARD******/
h1 {
  
    text-align:center;
    font-size:60px;
    font-family:calibri;
  }
  
  .master-container {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom: 10px;
    
  }
  
  .containercard {
    height:200px;
    width:160px;
    perspective:1000px;
    position:relative;
    font-family:'Open Sans';
  }
  
  
  .cardfecha {
    height:100%;
    width:100%;
     position: absolute;
    transform-style: preserve-3d;
    transition:transform .7s cubic-bezier(.54,-0.58,.5,.58);
  }
  
  .cardfecha:hover { 
     transform:rotateY(180deg);
  }
  
  .cardfecha .side-1 {
    
    position:absolute;
    height:100%;
    width:100%;
     backface-visibility: hidden;
    overflow:hidden;
    margin-top: 45px;
    
  }
  
  .cardfecha .side-2{
    transform: rotateY(180deg);
    height:100%;
    width:100%;
    backface-visibility: hidden;
    overflow:hidden;
    margin-top: 45px;
  }
  
  .cardfecha h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-size: 12px;
 
  }
  .cardfecha p{
    font-size: 12px;
  }
  .chief{
      border-radius: 6px;
  }
  .iconofecha{
    padding-left: 3px;
    font-size: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: center;
  }
  
  /* .cardfecha p {
    
    position:absolute;
   
    padding:20px;
    
    
  } */

  .textEfect h5{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 2rem;
  }