<div class="videolist">

  <div class="row animated fadeIn" *ngIf="loading">

    <div class="col-sm-12">

      <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fas fa-sync fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="videoList">
    <div class="example-1 card col-lg-4 col-sm-6 col-xs-12" *ngFor="let video of videoList | searchFilter:search ;  let i = index">

      <div class="wrapper" *ngIf="!loading">
        <iframe class="video flex-wrap" [src]="video.video | safe" frameborder="0" allowfullscreen></iframe>

        <div class="data-like d-flex justify-content-center">
        
                <ul class="menu rounded">
                  <li>
                    <a class="badge badge-pill badge-dark" (click)="unlike (video._id,i)"><i class="far fa-thumbs-down active"></i><span class="down">{{video.unlike}}</span></a>
                  </li>
                  <li> <a class="badge badge-pill badge-dark" (click)="like (video._id,i)"><i class="far fa-thumbs-up active "></i><span class="up">{{video.like}}</span></a></li>
               </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="cambiarDesde(-3)" class="btn btn-secondary">
      Anteriores
    </button>

    <button (click)="cambiarDesde(3)" class="btn btn-secondary">
      Siguientes
    </button>
  </div>
</div>