/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        background: rgb(241, 239, 239) top;
        padding: 6px;
        margin-right: -12px;
        margin-left: 53px;
        margin-top: -286px;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    .edit-user-form .col-lg-6 {
        max-width: 55%;
    }
    .formAdm .col-lg-6 {
        max-width: 55%;
    }
    .containerCard {
        margin-top: 62px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 253px;
        margin-top: 10px;
    }
    figure.snip0057 .image {
        height: 216px;
        width: 41%;
    }
    figure.snip0057 .image img {
        left: -27%;
        bottom: 20%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 80%;
        width: 36%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }

    .edit-user-form {
        bottom: 48px;
        width: 280px;
        height: 314px;
        padding: 12px 12px;
        margin-left: -58px;
        /* margin-right: 123px; */
        font-family: 'Raleway', Arial, sans-serif;
    }

    .formAdm {
        margin-left: -140px;
        margin-right: 140px;
        margin-top: -296px;
        width: 279px;
    }
    .selectButton {
        margin-left: 1px;
    }
 
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        margin-right: -127px;
        margin-left: -179px;
        margin-top: -295px;
    }
    .edit-user-form {
        bottom: 91px;
        width: 280px;
        height: 314px;
        padding: 12px 12px;
        margin-left: -100px;
        margin-right: 56px;
    }
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 35%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -55%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 33%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 14px;
        margin-left: -286px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -94px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -109px;
        font-size: 11px;
        margin-top: 10px;
    }

    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
    }

    .formAdm {
        /* margin-bottom: 43px; */
        margin-right: -127px;
        margin-left: 53px;
        margin-top: -125px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 350px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 35%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -55%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 33%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 14px;
        margin-left: -286px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -94px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -109px;
        font-size: 11px;
        margin-top: 10px;
    }

    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
    }

    .formAdm {
        margin-left: -133px;
        font-size: 12px;
        /* margin-bottom: 142px; */
        margin-top: -288px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .containerCard {
        margin-top: 95px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 276px;
    }
    figure.snip0057 .image {
        height: 320px;
        width: 43%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -36%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
        height: 400px;
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        font-size: 13px;
        margin-left: -140px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 16px;
    }

    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
        bottom: 47px;
        width: 293px;
        height: 324px;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        margin-right: 58px;
        margin-left: -58px;
    }

    .formAdm {
        margin-right: 148px;
        font-size: 12px;
        margin-bottom: 140px;
    }
}
/**********
    iPad 3
    **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 52%;
    }
    .containerCard {
        margin-left: 101px;
        margin-right: -61px;
        /* margin: 10px; */
        width: 300px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 275px;
        min-width: 740px;
        margin-top: 43px;
        margin-left: -75px;
    
    }
    figure.snip0057 .image {
        height: 320px;
        width: 43%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -36%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
        height: 400px;
    }
    figure.snip0057:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        font-size: 13px;
        margin-left: -140px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 16px;
    }

    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
        bottom: 47px;
        /* margin-right: 125px;
        margin-left: -125px; */
    }

    .formAdm {
        margin-left: -133px;
        font-size: 12px;
        /* margin-bottom: 142px; */
        margin-top: -288px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 52%;
    }
    .containerCard {
        margin-top: 110px;
    }
    .cardProfile {
        margin-top: 56px;
    }

    figure.snip0057 {
        height: 456px;
        margin-top: 25px;
    }
    figure.snip0057 .image {
        height: 412px;
        width: 34%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        height: 520px;
        left: -22%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 99%;
        width: 31%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        padding: 5px 0;
        width: 100%;
        font-size: 28px;
        margin-left: -222px;
        margin-right: 128px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
        font-size: 26px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -99px;
        font-size: 11px;
        margin-top: 10px;
        font-size: 26px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 16px;
    }
    .edit-user-form {
        bottom: 55px;
        width: 308px;
        height: 324px;
        /* margin-right: 94px; */
        margin-left: -78px;
    
    }
    .formAdm {
        bottom: -91px;
        margin-right: 152px;
        margin-left: -152px;
        width: 314px;
    }
    .edit-user-form .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .edit-user-form .col-lg-6 {
        max-width: 55%;
    }
    .formAdm .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .formAdm .col-lg-6 {
        max-width: 55%;
    }
 
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    .containerCard {
        margin-top: 110px;
    }
    .cardProfile {
       
        margin-top: 56px;
        width: 800px;
    }
    figure.snip0057 {
        height: 460px;
    }
    figure.snip0057 .image {
        height: 416px;
        width: 34%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        height: 520px;
        left: -22%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 99%;
        width: 31%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        padding: 5px 0;
        width: 100%;
        font-size: 28px;
        margin-left: -222px;
        margin-right: 128px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
        font-size: 26px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -99px;
        font-size: 11px;
        margin-top: 10px;
        font-size: 26px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
        margin-left: 16px;
    }
    .edit-user-form {
        bottom: 47px;
        width: 308px;
        height: 320px;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        /* margin-right: 138px;
        margin-left: -138px; */
    }
    .formAdm {
        bottom: 50px;
        width: 310px;
        margin-right: 160px;
        margin-left: -160px;
    }
    .edit-user-form .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .edit-user-form .col-lg-6 {
        max-width: 55%;
    }
    .formAdm .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .formAdm .col-lg-6 {
        max-width: 55%;
    }
    .selectButton {
        margin-left: 14px;
    }

    .fa-user-edit{
        margin-left: -1px;
    }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    .containerCard {
        margin-top: 110px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 460px;
    }
    figure.snip0057 .image {
        height: 412px;
        width: 32%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        height: 520px;
        left: -22%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 99%;
        width: 31%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        padding: 5px 0;
        width: 100%;
        font-size: 28px;
        margin-left: -222px;
        margin-right: 128px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
        font-size: 26px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -99px;
        font-size: 11px;
        margin-top: 10px;
        font-size: 26px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
    }
    .edit-user-form {
        bottom: 47px;
        width: 308px;
        height: 320px;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        margin-right: 70px;
        margin-left: -70px;
    }
    .formAdm {
        bottom: 70px;
        width: 310px;
        height: 325px;
        margin-right: 160px;
        margin-left: -160px;
    }
    .edit-user-form .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .edit-user-form .col-lg-6 {
        max-width: 55%;
    }
    .formAdm .form-group {
        margin-left: 14px;
        margin-right: -14px;
    }
    .formAdm .col-lg-6 {
        max-width: 55%;
    }
    .selectButton {
        margin-left: 14px;
    }
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 62px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 260px;
    }
    figure.snip0057 .image {
        height: 218px;
        width: 41%;
    }
    figure.snip0057 .image img {
        left: -27%;
        bottom: 20%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 80%;
        width: 36%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .edit-user-form {
        bottom: 47px;
        width: 280px;
        height: 314px;
        padding: 12px 12px;
        margin-left: -56px;
        margin-right: 56px;
    }
    .formAdm {
        margin-left: -140px;
        margin-right: 140px;
        margin-top: -296px;
        width: 279px;
    }
    .selectButton {
        margin-top: -20px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 62px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 260px;
    }
    figure.snip0057 .image {
        height: 217px;
        width: 41%;
    }
    figure.snip0057 .image img {
        left: -27%;
        bottom: 20%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 80%;
        width: 36%;

        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
      
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .edit-user-form {
        bottom: 47px;
        width: 280px;
        height: 314px;
        padding: 12px 12px;
        /* margin-left: -127px;
        margin-right: 127px; */
    
    }
    .formAdm {
        margin-left: -140px;
        margin-right: 140px;
        margin-top: -296px;
        width: 279px;
    }
    .selectButton {
        margin-left: 1px;
    }
 
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 100%;
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .fa-user-edit {
        margin-left: -7px;
        margin-top: -3px;
    }
    .edit-user-form {
        position: absolute;
        bottom: 47px;
        width: 276px;
        height: 290x;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        padding: 5px 5px;
        /* margin-right: -62px; */
        margin-left: -62px;
        line-height: 4px;
        font-size: 13px;
    }
    .formAdm {
        margin-left: -140px;
        margin-right: 140px;
        margin-top: -296px;
        width: 279px;
    }
    .form-control {
        font-size: 12px;
    }
    .buttAdmin .btn {
        margin-top: 10px;
    }
     .fa-user-edit{
        margin-left: -1px;
        margin-top: -3px;
     }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 100%;
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
  
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .fa-user-edit {
     margin-left: 1px;
     margin-top: -3px;
    }
    .edit-user-form {
        position: absolute;
        bottom: 47px;
        width: 276px;
        height: 290x;
        padding: 5px 5px;
        /* margin-right: 60px; */
        margin-left: -60px;
        line-height: 4px;
        font-size: 13px;
        font:'Open Sans';
    }
    .formAdm {
        margin-left: -140px;
        margin-right: 140px;
        margin-top: -296px;
        width: 279px;
    }
    .form-control {
        font-size: 12px;
    }
    .buttAdmin .btn {
        margin-top: 10px;
    }
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 90px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 100%;
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -55px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
        bottom: 48px;
        width: 270px;
        height: 302px;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        padding: 10px 6px;
        /* margin-right: 58px; */
        /* margin-left: -121px; */
        line-height: 10px;
    }
    .formAdm {
        margin-right: 136px;
        margin-left: -136px;
        margin-top: -284px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 90px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 253px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        height: 100%;
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -55px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
        bottom: 48px;
        width: 270px;
        height: 310px;
        padding: 10px 6px;
        /* margin-right: 119px;
        margin-left: -119px; */
    }
    .formAdm {
        margin-right: 136px;
        margin-left: -136px;
        margin-top: -296px;
    }
  
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 90px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
       
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
    bottom: 41px;
    width: 270px;
    height: 283px;
    padding: 10px 6px;
    /* margin-right: 119px;
    margin-left: -119px; */
    }
    .formAdm {
        margin-right: 148px;
        margin-left: -134px;
        margin-top: -406px;
    }
 
    .edit-user-form label {
        margin-bottom: 6px;
    }
    .btnselcat .btn{
        margin-top: -24px;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 90px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -70px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .edit-user form {
        background: lightgray;
        padding: 5px;
    }
    .edit-user-form {
        bottom: 48px;
        width: 270px;
        height: 302px;
        background: rgb(241, 239, 239) top;
        box-shadow: #000000;
        padding: 10px 6px;
        margin-right: 58px;
        margin-left: -58px;
        line-height: 10px;
    }
    .formAdm {
        margin-right: 148px;
        margin-left: -134px;
        margin-top: -406px;
    }
  
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 218px;
        font-size: 13px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        margin-right: 133px;
        margin-left: -133px;
        margin-top: -306px;
    }
    .fas .fa-user-edit {
        margin-left: -2px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 253px;
        font-size: 13px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        margin-right: 134px;
        margin-left: -134px;
        margin-top: -306px;
    }
}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 218px;
        font-size: 13px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: -138px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        margin-right: 133px;
        margin-left: -133px;
        margin-top: -px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 256px;
        font-size: 13px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);

    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 10px;
    }
    .formAdm {
        margin-right: -127px;
        margin-left: 53px;
        margin-top: -138px;
    }
}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 249px;
        font-size: 13px;
         /* margin-left: -1px;  */
        /* margin-right: 71px; */
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        margin: 0;
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
    }
    .edit-user-form[_ngcontent-c2] {
        position: absolute;
        line-height: 0px;
        margin-left: -120px;
        margin-right: 62px;
        
    }
    .formAdm {
        margin-right: 134px;
        margin-left: -134px;
        margin-top: -288px;
    }

}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .containerCard {
        margin-top: 60px;
    }
    .cardProfile {
        margin-top: 56px;
    }
    figure.snip0057 {
        height: 253px;
        font-size: 13px;
    }
    figure.snip0057 .image {
        height: 209px;
        width: 45%;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-17deg);
    }
    figure.snip0057 .image img {
        position: relative;
        left: -66%;
        -webkit-transform: skew(15deg);
        transform: skew(15deg);
    }
    figure.snip0057:before {
        width: 41%;
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);

    }
    figure.snip0057 figcaption {
        padding: 0px 2px 4px 0px;
        position: absolute;
    }
    figure.snip0057 figcaption h3 {
        padding: 5px 0;
        width: 100%;
        font-size: 13px;
        margin-left: -48px;
    }
    figure.snip0057 figcaption .name {
        margin-left: -33px;
        margin-top: 10px;
    }
    figure.snip0057 figcaption .email {
        margin-left: -46px;
        font-size: 11px;
        margin-top: 10px;
    }
    .buttAdmin {
        margin: 0 auto;
        margin-top: 2px;
    }
    .formAdm {
        margin-right: 134px;
        margin-left: -134px;
        margin-top: -295px;
        height: 248px;
    }
}
/***Por defecto****/
.editForm .fas .fa-user-edit {
    margin-left: -2px;
}
.fa-user-edit:before {
 content: "\f4ff";
 margin-left: 3px;
}
.adminItem {
    margin-left: -3px;
    margin-right: -3px;
}
.fa-home:before {
    content: "\f015";
    margin-left: 2px;
}
.fa-user-plus:before {
    content: "\f234";
    margin-right: -3px;
}
.fa-arrow-left:before {
    content: "\f060";
    margin-left: 4px;
}
.footerMovil .fa-home {
    font-size: 20px;
    border-radius: 2px solid;
    color: white;
    height: 29px;
    width: 30px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 23px;
    margin-top: 2px;
}
.footerMovil .fa-arrow-left {
    font-size: 20px;
    border-radius: 2px solid;
    color: white;
    height: 29px;
    width: 30px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 23px;
    margin-top: 2px;
}
.footerUser ul{
 padding-top: 3px;
 padding-bottom: 3px;
}
.userItem {
    margin-right: 35px;
    margin-left: 32px;
}
.navUser .nav-link {
    color: white;
    padding: 0px 3px;
}
.navAdmin .nav-link {
    color: white;
    display: block;
    padding: 7px 25px;
}
.edit-user {
    height: 29px;
    width: 30px;
    border: 2px solid;
    border-radius: 50%;
    display: block;
    margin: 2px auto;
    color: white;
    line-height: 22px;
    text-align: center;
}
.adminAdd {
    height: 29px;
    width: 30px;
    border: 2px solid;
    border-radius: 50%;
    display: block;
    margin: 2px auto;
    color: white;
    line-height: 22px;
    text-align: center;
}
/********formularios*********/
.containerForm {
    margin: 0 auto;
}
.edit-user-form {
    position: absolute;
    line-height: 0px;
    background: rgb(241, 239, 239) top;
    font-family: 'Raleway', Arial, sans-serif;
}
.edit-user-form input,
label button {
    width: 255px;
    height: 20px;
    margin: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    line-height: 9px;
    font-size: 13px;
    font-family: 'Raleway', Arial, sans-serif;
}
.btn {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1;
}
.formAdm {
    position: absolute;
    line-height: 0px;
    background: rgb(241, 239, 239) top;
    padding: 15px;
    padding-top: 10px;
    
}
.formAdm input,
label button {
    width: 255px;
    height: 20px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    line-height: 9px;
}
.btnselcat .btn {
    padding: 5px 10px;
    margin-left: 66px;
    font-size: 12px;
    line-height: 1;
    margin-left: 77px;
    /* margin-top: -21px; */
    font-family: 'Roboto', sans-serif;
}
.selectButton {
    position: absolute;
    width: 254px;
    display: flex;
}
.edit-user-form label {
    font-size: 11px;
    font-family: 'Raleway', Arial, sans-serif;
}
.custom-select {
    height: 27px;
    font-size: 10px;
}
.input-group-text {
    height: 27px;
    font-size: 10px;
}
.form-group {
    margin: 5px auto;
}
/**********card***********/
.containerCard {
    margin-top: 20px;
    position: relative;
}
figure.snip0057 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    /* margin: 10px 1%; */
    width: 100%;
    background: #ffffff;
    color: #000000;
}
figure.snip0057 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
    /* width: 50%; */
    overflow: hidden;
    z-index: 1;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
figure.snip0057 .image img {
    position: relative;
    display: block;
    /* left: -15%; */
    z-index: 1;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
}
figure.snip0057:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.snip0057 figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 50%;
}
figure.snip0057 figcaption h3 {
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
figure.snip0057 figcaption h3 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0057 .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
   
}
figure.snip0057.red .position {
    background: #e65b60;
}
figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
    bottom: 40px;
}
figure.snip0057:hover:before,
figure.snip0057.hover:before {
    -webkit-animation: shadow 0.4s ease-in-out;
    animation: shadow 0.4s ease-in-out;
}
@-webkit-keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}