<div class="about">
  <h3>
    <!-- BASES DEL CONCURSO -->
  </h3>
  <div class="container-fluid">

    <div class="intro">

    
    <p>En el marco del Proyecto 1234 REDES_CON “Oportunidades para crear conocimiento en cooperación”, una iniciativa cofinanciada
      por el Fondo Europeo de Desarrollo Regional (FEDER), a través del programa Interreg V‐A España‐Portugal (POCTEP) 2014‐2010,
      el certamen En 2 minutos pretende estimular la creación de historias audiovisuales escritas, dirigidas y protagonizadas
      por adolescentes de entre 11 y 22 años, y ayudar a visibilizar sus propuestas e inquietudes a través de formatos acordes
      a sus intereses y hábitos más actuales.</p>
    <p>La principal peculiaridad es que solo podrá utilizarse el smartphone para grabar los vídeos (aunque se permitirá la
      edición a través del ordenador).</p>
      <p> La comunicación con los participantes se realizará principalmente a través de esta web. Se celebra en dos países simultáneamente, 
      Portugal y España, con sedes en Beja, Portalegre y Salamanca.</p>
      <p> Nace con el objetivo de convertirse en un medio para analizar y conocer el
       punto de vista de jóvenes de diferentes realidades sobre un mismo tema en torno al que deben idearse todas las propuestas a concurso:
      <b>LAS FRONTERAS</b></p>
  </div>
  <div class="reglas container">


    <h4>REGLAS GENERALES</h4>

    <ul class="bases">
      <li> Pueden enviar sus grabaciones todos aquellos que tengan edades comprendidas entre los <b>11 y los 22 años</b> durante
        el periodo en el que está abierto el plazo de inscripción.
      </li>

      <li> Se establecen tres categorías de participación: 
        <ul>
        <li>Jóvenes de entre 11 y 15 años nacidos en Portugal (La final se celebraría en Beja)</li>
        <li>Jóvenes de entre 16 y 22 años nacidos en Portugal (La final se celebraría en Portalegre) </li>
        <li>Jóvenes de entre 11 y 22 años nacidos en España (La final se celebraría en Salamanca)</li>
        </ul>
      </li>
      <li> El envío de trabajos a concurso se realiza accediendo a la pestaña  MI HISTORIA, habilitada en la web general
        del proyecto, e introduciendo la url del clip, que solo puede ser grabado a través de un smartphone y posteriormente
        compartido mediante una de estas tres plataformas: Youtube, Vimeo o DailyMotion; junto a una serie de datos básicos.</li>
      <li> El plazo de recepción de propuestas se abre el lunes 1 de octubre de 2018 y finaliza el domingo 2 de diciembre
        de 2018. La aceptación de las bases se confirma de modo automático con el envío del vídeo.</li>
      <li> Los clips deben tener una duración máxima de 2 minutos, incluyendo los títulos de crédito, y quedarán descalificados
        aquellos que superen este tiempo.</li>
      <li> Todos ellos deben tener como hilo conductor LAS FRONTERAS, dejando total libertad para afrontar la propuesta.<br>
        Se pretende especialmente fomentar un trabajo reflexivo que permita conocer el punto de vista de los jóvenes en torno
        a problemas sociales vinculados a ellas, su visión de los países fronterizos o los modos de vida de aquellos que
        residen en las proximidades de alguna. <br>La única condición es que las propuestas sean inéditas y originales, y que
        no contengan imágenes que sean violentas, denigrantes, vejatorias o insultantes, o que por cualquier motivo no inherente
        a la narración, puedan ser de mal gusto o atenten contra los derechos humanos.</li>
      <li> Cada autor/a puede presentar tantos cortometrajes como quiera. Debe hacerlo por separado.
      </li>
      <li> Solo se admiten proyectos rodados en portugués y español.</li>
      <li> En el formulario de inscripción habilitado en la web es obligatorio rellenar todos los campos habilitados para
        facilitar la identificación de los autores y el posterior contacto.</li>
      <li> La organización puede pedir al autor del mismo que demuestre que ha sido realizado y ubicado por él en la web
        si existe alguna sospecha de plagio o copia de otros cortometrajes.
      </li>
      <li> El autor o autores son los únicos responsables del clip y de todo lo que incluya, la organización declina toda
        responsabilidad legal sobre su contenido.</li>
      <li> Los cortometrajes son propiedad exclusiva de sus autores y E2M solo incluye los trabajos en su web o en el canal
        de Youtube para promocionar cada obra, sin obtener ningún tipo de beneficio a cambio ni adquirir los derechos sobre
        el mismo.</li>
      <li> El jurado premiará la creatividad, originalidad y composición de los cortos, así como el guion desarrollado y
        los recursos técnicos. Ningún reconocimiento podrá ser declarado desierto.
      </li>
      
    </ul>     
    <div class="funny">  :)</div>
  </div>

</div>
</div>