@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.cardProfile {
	padding: 0 1rem;
	margin: 1rem;
}
.inputVideo {
	margin-top: 30px;
	width: 535px;
	margin-left: auto;
	margin-right: auto;
}

.profile {
	margin: 60px auto;
	padding: 10px;
}
/* .inputVideo
{
  flex: 0 0 48%;
  max-width: 48%;
} */
.listAdmin {
	flex: 0 0 48%;
	margin-left: 118px;
}
.selectEdit {
	border: 1px solid #ccc;
	width: 162px;
	overflow: hidden;
	height: 36px;
}
.selectedit select {
	padding: 5px 8px;
	width: 130%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	appearance: none;
}
.selectButton {
	display: inline-block;
}
.btnEdit {
	display: inline-block;
}


figure.snip0057 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;

	overflow: hidden;
	margin: 10px auto;
	min-width: 380px;
	max-width: 530px;
	width: 100%;
	background: #ffffff;
	color: #000000;
}
figure.snip0057 * {
	text-align: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
	width: 50%;
	overflow: hidden;
	z-index: 1;
	-webkit-transform: skewX(-15deg);
	transform: skewX(-15deg);
}
figure.snip0057 .image img {
	position: relative;
	display: block;
	left: -15%;
	z-index: 1;
	-webkit-transform: skew(15deg);
	transform: skew(15deg);
}
figure.snip0057:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 45%;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transform: skewX(-17deg);
	transform: skewX(-17deg);
	-webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
	box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.snip0057 figcaption {
    padding: 20px 30px 8px 20px;
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 50%;
	
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
	margin: 0;
	text-align: right;
	padding: 10px 0;
	width: 100%;
}
figure.snip0057 figcaption h2 {
	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0057 figcaption h2 span {
	font-weight: 800;
}
figure.snip0057 figcaption p {
	font-size: 0.6em;
	opacity: 0.8;
}
figure.snip0057 figcaption .icons {
	width: 100%;
	text-align: right;
}
figure.snip0057 figcaption .icons i {
	font-size: 26px;
	padding: 5px;
	top: 50%;
	color: #000000;
	opacity: 0;
}
figure.snip0057 figcaption a {
	opacity: 0.3;
}
figure.snip0057 figcaption a:hover {
	opacity: 0.8;
}
figure.snip0057 .position {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding: 15px 30px;
	font-size: 0.9em;
	opacity: 1;
	font-style: italic;
	color: #ffffff;
	background: #000000;
}
figure.snip0057.blue .position {
	background: #20638f;
}
figure.snip0057.red .position {
	background: #e65b60;
}
figure.snip0057.yellow .position {
	background: #bf6516;
}
figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
	bottom: 20px;
}
figure.snip0057:hover .icons i,
figure.snip0057.hover .icons i {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.snip0057:hover:before,
figure.snip0057.hover:before {
	-webkit-animation: shadow 0.6s ease-in-out;
	animation: shadow 0.6s ease-in-out;
}
@-webkit-keyframes shadow {
	0% {
		left: 0px;
	}
	50% {
		left: -5px;
	}
	100% {
		left: 0px;
	}
}
@keyframes shadow {
	0% {
		left: 0px;
	}
	50% {
		left: -5px;
	}
	100% {
		left: 0px;
	}
}
/******admin*****/
.buttAdmin {
	margin: 0 auto;
	margin-top: 32px;
}

/****/
.cardProfile {
	margin: 0px auto;
}
.containerList {
	margin: 0px auto;
	margin-left: 160px;
}
.card-title a {
	margin: 0px auto;
}
.card-title button {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-60%);
	margin: 0px auto;
	margin-left: -40px;
}
.card-body {
	width: 400px;
	display: flex;
	justify-content: center;
}

.edit-user {
	height: 36px;
    width: 39px;
    border: 1px solid;
    border-radius: 50%;
    display: block;
	margin: 2px auto;
    color: white;
    line-height: 24px;
    text-align: center;
}
.edit-user form{
    background: lightgray;
    padding: 5px;
}
.containerEditUser {
  position: fixed;
  right: 10px;
  top: 2px;
  z-index: 9999;
}

.edit-user-form {
  position: absolute;
  right: -10px;
  top: 54px;
  width: 400px;
  background: rgb(241, 239, 239) top;
  box-shadow: #000000;
  padding-left: 15px;
}
.adminAdd{
	height: 36px;
    width: 39px;
    border: 1px solid;
    border-radius: 50%;
    display: block;
    margin: 2px auto;
    color: white;
    line-height: 34px;
	text-align: center;
	margin-right: 10px;
	
}
.formAdm{
	background:rgb(241, 239, 239) top;
    margin-top: 16px;
    padding-left: 9px;
}
.containerUser{
	position: fixed;
    right: 54px;
    top: 3px;
	z-index: 9999;
	
}