<div class="footer-top">
    <div class="container">
        <div class="social-icons">
            <i class="fab fa-twitter"><a href="https://twitter.com/TwitterDev" target="_blank"></a></i>
            <!-- <i class="fab fa-facebook"><a [href]="" target="_blank"></a></i>
            <i class="fab fa-google-plus"><a [href]="" target="_blank"></a></i>-->
            <i class="fab fa-instagram"><a href="https://www.instagram.com" target="_blank"></a></i> 
            <!-- <i class="fab fa-vimeo"> <i class="fab fa-youtube-play"><a   target="_blank"></a></i>
         -->
        </div>
    </div>
</div>