<div class="login">
    <div class="banner"></div>
    <div class="form">
      <div class="wrapper">
        <div   class="row">
      
            <input type="text" [(ngModel)]="username" name="username" required placeholder="Usuario"/>
        </div>
        <div class="row">
   
          <input type="password" [(ngModel)]="password" name="password"  required placeholder="Contraseña"/>
        </div>
        <div class="row">
            <button (click)="login(username,password)"> Login </button>
        </div>  
      </div>
      <div *ngIf="message" class="message">
        {{message}}
      </div>
      <div class="signup">
        No estás registrado? <a [routerLink]="['/signup']">Registro</a>
      </div>    
    </div>
  </div>