
    <div class="container-fluid ">
            <div class="containerList">
       <div class="row animated fadeIn">
          <div class="col-12">
              <div class="card">
                
              </div>
          </div>
      </div>
      
      <div class="row animated fadeIn" *ngIf="loading">
      
          <div class="col-sm-12">
      
              <div class="alert alert-warning text-center">
                  <strong>Cargando</strong>
                  <br>
                  <i class="fas fa-sync fa-spin fa-2x"></i>
                  <br>
                  <span>Espere por favor</span>
              </div>
          </div>
      </div>
      
      
      <div class="row animated fadeIn" *ngIf="!loading">
          <div class="col-12">
              <div class="card">
                  <div class="card-body table-responsive-md">
      
                      <h3 class="card-title">Videos registrados ( <small>{{ totalvideos }}</small> )</h3>
      
      
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>Usuario</th>
                                  <th>Email</th>
                                  <th>Video</th>
                                  <th>Likes</th>
                                  <th></th>
                            
                              </tr>
                          </thead>
      
                           <tbody>
                              <tr *ngFor="let video of videos| orderBy:order:ascending">
                                  <td >
                                      {{video.author.username}}

                                  </td>
                                  <td>
                                      {{video.author.email}}
                                  </td>
                             
                                  <td>
                                      <a [routerLink]="['/video',video._id]"><i class="far fa-play-circle"></i></a>
                                  </td>
                                 <td>
                                     {{video.like }}
                                 </td>
                                  <td>                                    
                                      <button (click)="deleteVideo( video._id )" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                  </td>
                              </tr>
      
                          </tbody>
      
                      </table>
                   
                      <button (click)="cambiarDesde(-3)" class="btn btn-secondary">
                        Anteriores
                      </button>
      
                      <button (click)="cambiarDesde(3)" class="btn btn-secondary">
                          Siguientes
                      </button>
                    
      
      
                  </div>
              </div>
          </div>
      </div> 
      </div>
      </div>