/******CARD******/
h1 {
  
    text-align:center;
    font-size:60px;
    font-family:calibri;
  }
  
  .master-container {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom: 10px;
    
  }
  
  .containercard {
    height:200px;
    width:160px;
    perspective:1000px;
    position:relative;
    font-family:'Open Sans';
  }
  
  
  .cardfecha {
    height:100%;
    width:100%;
     position: absolute;
    transform-style: preserve-3d;
    transition:transform .7s cubic-bezier(.54,-0.58,.5,.58);
  }
  
  .cardfecha:hover { 
     transform:rotateY(180deg);
  }
  
  .cardfecha .side-1 {
    
    position:absolute;
    height:100%;
    width:100%;
     backface-visibility: hidden;
    overflow:hidden;
    margin-top: 45px;
    
  }
  
  .cardfecha .side-2{
    transform: rotateY(180deg);
    height:100%;
    width:100%;
    backface-visibility: hidden;
    overflow:hidden;
    margin-top: 7px;
  }
  
  .cardfecha h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-size: 12px;
 
  }
  .cardfecha p{
    font-size: 12px;
  }
  .chief{
      border-radius: 6px;
  }
  .iconofecha{
    padding-left: 3px;
    font-size: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: center;
  }
  .textEfect h5{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 2rem;
  }

   /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	
}
/**********
	iPad 3
	**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {

}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {

}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {

}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
	
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

}
