
<div class="container">

<div class="row">
       
        <div class="col-sm">
                <div class="grid">
                        <figure class="effect-ruby">
                                       <figcaption>
                                            <p>1 OCTUBRE</p>
                                            <h2><i class="fas fa-share-square iconofecha"></i></h2>
                                            <p>Se abre al plazo para el envío de proyectos</p>
                                        </figcaption>			
                                    </figure>
                        </div>
        </div>
     
                <div class="col-sm">
                        <div class="grid">
                                <figure class="effect-ruby">
                                              <figcaption>
                                                       <p>2 DICIEMBRE</p> 
                                                    <h2><i class="fas fa-video iconofecha"></i></h2>
                                                    <p>Finaliza el período de inscripción de clips a concurso</p>
                                                </figcaption>			
                                            </figure>
                                </div>
                </div>
            
                        <div class="col-sm">
                                <div class="grid">
                                        <figure class="effect-ruby">
                                                      <figcaption>
                                                            <p>1 DICIEMBRE</p>
                                                            <h2> <i class="fas fa-award iconofecha"></i></h2>
                                                            <p>Galas finales en las tres ciudades y entrega de premios y diplomas</p>
                                                        </figcaption>			
                                                    </figure>
                                        </div>
                        </div>
        </div>
      </div>