<div class="row">
    <div class="col">
        <div class="textEfect">
            <h5 class="text-center">FECHAS Y PASOS A SEGUIR</h5>
        </div>
    </div>
</div>
<div class="fechContainer">
    <div class="row">
        <div class="col-sm">

            <div class="master-container">
                <div class="containercard">
                    <div class="cardfecha">
                        <div class="side-1 text-center">
                            <i class="fas fa-bullhorn iconofecha"></i>
                        </div>
                        <div class="side-2 text-center">
                            <h5>3 SEPTIEMBRE</h5>
                            <i class="fas fa-bullhorn iconofecha"></i>
                            <p>Publicación de la actividad a través de Cámaras Municipais,INJUVE, organismos "amigos"
                                y redes</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="master-container">
                <div class="containercard">
                    <div class="cardfecha">
                        <div class="side-1 text-center">
                            <i class="fas fa-globe iconofecha"></i>
                        </div>
                        <div class="side-2 text-center">
                            <h5>15 SEPTIEMBRE</h5>
                            <i class="fas fa-globe iconofecha"></i>
                            <p>Inaguración de la web y nuevos perfiles en RSS</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="master-container">
                <div class="containercard">
                    <div class="cardfecha">
                        <div class="side-1 text-center">
                            <i class="fas fa-share-square iconofecha"></i>
                        </div>
                        <div class="side-2 text-center">
                            <h5>1 OCTUBRE</h5>
                            <i class="fas fa-share-square iconofecha"></i>
                            <p>Se abre al plazo para el envío de proyectos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="master-container">
                <div class="containercard">
                    <div class="cardfecha">
                        <div class="side-1 text-center">
                            <i class="fas fa-video iconofecha"></i>
                        </div>
                        <div class="side-2 text-center">
                            <h5>2 DICIEMBRE</h5>
                            <i class="fas fa-video iconofecha"></i>
                            <p>Finaliza el período de inscripción de clips a concurso</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="master-container">
                <div class="containercard">
                    <div class="cardfecha">
                        <div class="side-1 text-center">
                            <i class="fas fa-award iconofecha"></i>
                        </div>
                        <div class="side-2 text-center">
                            <h5>21 DICIEMBRE</h5>
                            <i class="fas fa-award iconofecha"></i>
                            <p>Galas finales en las tres ciudades y entrega de premios y diplomas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>