
  <footer class="footer-distributed">

    <div class="footer-left">

      <div>
        <img src="../../assets/pictures/iconoVideo.png" height="80" width="80">    
      </div>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a [routerLink]="['/About']" routerLinkActive="router-link-active"> About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">En 2Minutos &copy; {{anio}}</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span></span> Madrid, España</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p></p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a></a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span></span>
      </p>

      <div class="footer-icons">
          <img src="../../assets/pictures/casaLector.png" height="70" width="160">   
          <img src="../../assets/pictures/camarBeja.jpeg" height="80" width="90">   
          <img src="../../assets/pictures/camarPortalegre.jpeg" height="80" width="80">   
          
           <!-- <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube-play"></i></a> -->

      </div>

    </div>

  </footer>

