
  <footer class="footer-distributed">

    <div class="footer-left">

      <div>
        <img src="../../assets/pictures/iconoVideo.png" height="80" width="80">    
      </div>

      <p class="footer-links">
        <a href="#">Principal</a>
        ·
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"> Bases</a>
      </p>

      <p class="footer-company-name">En 2Minutos &copy; {{anio}}</p>
      
      <p class="footerText"> * Proyecto cofinanciado por el 
          Fondo Europeo de Desarrollo Regional (FEDER)
          a través del programa
          INTERREG V-A ESPAÑA-PORTUGAL (POCTEP) 2014-2020</p>
    </div>

    <div class="footer-right">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span></span> Madrid, España</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a>en2minutos@fundaciongsr.es</a></p>
      </div>

    </div>

    <div class="footer-center">

      <div class="footer-icons">
        <!-- <ul>
          <li> <img src="../../assets/pictures/Espana-Portugal_ES+PT_FUND_RGB.jpg" height="130" width="270"></li>
          <li><img src="../../assets/pictures/1234 Logo.jpg" height="130" width="270"> </li>
          <li><img src="../../assets/pictures/Logo-Casa-del-Lector-636x144.jpg" height="130" width="270"> </li>
        
        </ul>
        <ul>
            <li><img src="../../assets/pictures/logo_cmbeja.jpg" height="130" width="270">  </li>
            <li><img src="../../assets/pictures/portalegre.jpg" height="130" width="270"> </li>
            <li> <img src="../../assets/pictures/fgsr_negro.png" height="130" width="270">  </li>
        </ul>
         -->
        
         
            <img src="../../assets/pictures/Espana-Portugal_ES+PT_FUND_RGB.jpg" width="300">
            <img src="../../assets/pictures/1234 Logo.jpg" width="280">
            <img src="../../assets/pictures/Logo-Casa-del-Lector-636x144.jpg" width="300">
        
            <img src="../../assets/pictures/logo_cmbeja.jpg" width="290">
            <img src="../../assets/pictures/fgsr_negro.png" width="340">
            <img src="../../assets/pictures/portalegre.jpg" width="265">
            
         
      </div>

    </div>

  </footer>

