@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
	box-sizing:border-box;
}

*,*::before, *::after {
	box-sizing:inherit;
}

html,body {
	width:100%;
	height:100%;
}

body {
	background-color: #dce1e5;

	font-family: 'Montserrat', helvetica, arial, sans-serif;

	font-size: 14px;
	color:#cfd6e1;
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
}

* {
	transition: .4s;
}

a {
	text-decoration: none;
}


.movie-card {

    width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.color-overlay {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: linear-gradient(to right, rgba(42, 159, 255, .2) 0%, rgba(33, 33, 32, 1) 60%, rgba(33, 33, 32, 1) 100%);
	background-blend-mode: multiply;

}
.listRow{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

h1,h2,h3 {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	font-weight: 400;
}

.movie-content {
	width: 100%;
	display: block;
	position:relative;
	float: right;
	padding-right: 1em;

}

.movie-content .movie-title {
    color: #ffffff;
    /* margin-bottom: 20px;*/
    margin-top: 10px; 
    opacity: .75;

}

.movie-content .movie-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    color: #2a9fff;
    line-height: 1;
		margin-top: 5px;
    font-weight: 700;
    opacity:.5;
}

.movie-content  .movie-header {
    /* margin-bottom: 2em; */
}
.movie-content .movie-desc {
font-weight: 300;
opacity: .84;
margin-bottom: 55px;
color:white;
}
.btn {

	background-color: rgba(255,255,255,.2);
	color: rgba(255,255,255,1);
	padding: 3px 3px;
}


.btn::before {


	vertical-align: middle;
	font-size: 1.5em;
	padding-right:.5em;
}



.movie-share {
	padding: 1em;
	display: inline-block;
	width: 15%;
}

.movie-share__icon i {
	font-size: 1.2em;
	margin-left: .5em;
	color: #ffffff;
	mix-blend-mode: lighten;
	opacity: .4;
}

.movie-share__icon i:hover {
	opacity:1;
	mix-blend-mode: lighten;
}
.img-fluid{

	margin-top: 20px;
	height: 190px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }
.ver{
	margin-left: 90px;
	display: block;
}


 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.movie-card {
		/* //background-image: $background-image; */
		
		width:95%;
		max-width: 800px;
		height: 300px;
		margin: 10px 10px;
	
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	.movie-card {
    width: 95%;
    max-width: 800px;
    height: 260px;
    display: block;
    /* margin: 10px 10px; */
    margin-top: 10px;
    margin-right: -206px;
    margin-left: 206px;
	
	}
	.movie-title{
		font-size:25px;
		margin-top: 8px;
	}
	.movie-desc{
		font-size: 15px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	.movie-card {
		/* //background-image: $background-image; */
		background-size: contain;
		background-repeat: no-repeat;
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
		
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.movie-card{
		max-width: 800px;
		height: 300px;
	}
	.movie-title{
    font-size: 14px;
    margin-top: 32px;
	}
	.movie-desc{
		font-size: 15px;
	}
	.ver{
		color:white;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.movie-card{
		max-width: 800px;
    height: 248px;
    margin-left: 78px;
	}
	.movie-title{
		font-size: 14px;
    margin-top: 32px;
	}
	.movie-desc{
		font-size: 15px;
	}
	.ver{
		color:white;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.movie-card{
	max-width: 800px;
	height: 256px;
	margin-right: 28px;
	margin-left: 18px;
}
.movie-title{
	font-size: 14px;
	margin-top: 32px;
}
.movie-desc{
	font-size: 15px;
}
.ver{
	color:white;
}
}
/**********
    iPad 3
    **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.movie-card {
		/* //background-image: $background-image; */
	
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
		
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.movie-card {

		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;

	}
	.ver{
		margin-left: 93px;
    display: block;
    color: white;
    margin-top: -46px
	}
	.movie-title{
		font-size:10px;
	}
	.movie-desc{
		font-size: 11px;
	}
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {
    width: 95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
	
	}
	.movie-card .img-fluid{
height: 200px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {

		background-repeat: no-repeat;
		width: 95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;

	}
	.movie-card .img-fluid{
		height: 166px;
    margin-top: 12px;
    margin-bottom: -17px;
	}
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {

		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;

	}
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {
	
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
	
	}
	.movie-card .img-fluid{
		height: 160px;
    margin-top: 12px;
    margin-bottom: -17px;
	}
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {

		width:75%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;

	}
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {
	
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
	
	}
}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.movie-card {
	
		width:95%;
		max-width: 800px;
		height: 450px;
		display: block;
		margin: 10px 10px;
	
	}
	.ver{
		color:white;
		margin-left: 145px;
	}
	.movie-title{
		font-size: 20px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {

}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
	.movie-card {
	
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
		margin: 10px 10px;
	
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
	.movie-card {
	
		width:95%;
		max-width: 800px;
		height: 300px;
		display: block;
	
	}
}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
	.movie-card {
		width: 100%;
    max-width: 625px;
    height: 300px;
    margin: 10px auto;
	}
	.card-title{
		font-size:10px;
	}
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
	.movie-card {
	
		height: 320px;
    width: 330px;
		margin-left: 11px;
    margin-right: 11px;
	}
	.movie-card {
    height: 320px;
    width: 330px;
    margin: 34px 46px;
}

}
