<div class="container-fluid">

  <a [routerLink]="['/profile']"> Volver a home </a>

  <div class="containerVideo justify-content-center">
     
    <div *ngIf="video row">
      <div class="gallery col-7 col-md-5">
      
          <!-- <iframe class="iframe" width="480" height="375" [src]="video.video | safe" frameborder="0" allowfullscreen="allowfullscreen"></iframe> -->
      <iframe class="iframe" [src]="video.video | safe" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    
          <div class="cf">
            <p *ngIf="video.creator===null">Autor:Desconocido</p> 
            <p *ngIf="video.creator!==null">Autor: {{video.creator}}</p>
          </div>
        
      </div>
      <div class="detailsBotons">
        <div class="row">
          <div classs="col">
            <div class="profileUser"><a [routerLink]="['/profile']"><i class="fas fa-undo"></i></a></div> 
          </div>
          <div class="col">
            <div class="borraVideo"><a (click)="deleteVideo()"><i class="far fa-trash-alt"></i></a></div> 
          </div>
        </div>
     
    </div>
    </div>
  </div>
</div>

      