
  <div class="login">
  <div class="banner"></div>
  <div class="form">
    <div class="wrapper">
      <div class="row">
          <input type="text" [(ngModel)]="username" name="username" placeholder="Usuario" required/>
    
      </div>
      <div class="row">
        <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre" required/>
      </div>
      <div class="row">
          
          <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Apellidos" required/>
        </div>
        <div class="row">
   
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required/>
          </div>
          <div class="row">
              <input type="text" [(ngModel)]="email" name="email" placeholder="Email" required/>
            </div>
            <div class="row">
             

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
                        </div>
                        <select class="custom-select selcat" name="category" [(ngModel)]="category" required>
                            <option selected>Choose...</option>  
                          <option value="11-22 años España" default>11-22 años España</option>
                            <option value="11-15 años Portugal">11-15 años Portugal</option>
                            <option value="16-22 años Portugal">16-22 años Portugal</option>
                        </select>
                      </div>
            </div>
      <div class="row">
          <button (click)="signup(username,name,lastname,password,email,category)"> SIGNUP </button>
  
      </div>  
    </div>
    <div *ngIf="message" class="message">
        {{message}}
      </div>
    <div class="signup">
      Do have an account? <a [routerLink]="['/login']">Login</a>
    </div>  
    <p class="error"> {{ error }} </p>  
  </div>
</div>
